.header {

  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100px;
  background-color: theme-color('white');
  transition: 0.2s;

  &__height-offset {
    height: 100px;
  }

  &__logo {
    max-height: 60px;
    max-width: 100%;
    transition: 0.2s;
  }

  &__top-menu {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.825rem;

    & a {
      text-decoration: none;
      color: theme-color('dark');
    }

    & ul {
      list-style: none;
    }

  }

  &__icon-menu {
    font-size: 28px;
    cursor: pointer;
  }

  li {
    margin: 0 20px;
    @include menu-item-hover(1px, 'dark');
  }

}

.header-alt {

  position: fixed;
  width: 100%;
  z-index: 1;
  color: theme-color('white');
  height: 100px;
  transition: 0.2s;

  &__height-offset {
    height: 0;
  }

  &__logo {
    max-height: 60px;
    max-width: 100%;
    transition: 0.2s;
  }

  &__top-menu {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.825rem;

    & a {
      text-decoration: none;
      color: theme-color('white');
    }

    & ul {
      list-style: none;
    }

  }

  &__icon-menu {
    font-size: 28px;
    cursor: pointer;
  }

  li {
    margin: 0 20px;
    @include menu-item-hover(1px, 'white');
  }

}

.header-scroll {

  background-color: theme-color('white');
  color: theme-color('dark');
  transition: 0.2s;
  height: 70px;

  &__logo {
    max-height: 40px;
    max-width: 100%;
    transition: 0.2s;
  }

  &__top-menu {

    & a {
      color: theme-color('dark');
    }

  }

  li {
    @include menu-item-hover(1px, 'dark');
  }

}