// Animated underline when hovering over a menu item
@mixin menu-item-hover($height, $colour) {
  .active {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: $height;
      margin: 5px 0 0;
      opacity: 0;
      background-color: theme-color($colour);
      width: 100%;
      opacity: 1;
      left: 0;
    }
  }

  .hover {
    transition: all 0.2s ease-in-out;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: $height;
      margin: 5px 0 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.5s;
      opacity: 0;
      background-color: theme-color($colour);
      left: 0;
    }
  }
  &:hover {
    cursor: pointer;
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

