.properties {
  &__filter-container {
    background-image: url("../img/filters-bg.jpg");
  }

  &__select {
    display: block;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    line-height: 1.3;
    padding: 0.8rem 3rem 0.7rem 0.8rem;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: theme-color("white");
    border: none;
    border-radius: 0px;
    background-image: url("../img/icons/FaChevronDown.svg"),
      url("../img/SelectBorder.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 0.7rem top 50%, right 2rem top 50%;
    background-size: 0.65rem auto, 1px auto;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:disabled,
    &[aria-disabled="true"] {
      color: theme-color("medium");
      background-image: url("../img/icons/FaChevronDown.svg");
    }
  }

  &__checkbox-dropdown {
    display: none;
    position: absolute;
    background-color: theme-color("white");
    min-width: 160px;
    padding: 12px 16px;

    &-container {
      background-color: theme-color("white");
      font-size: 0.875rem;
      line-height: 1.3;
      padding: 0.8rem 3rem 0.7rem 0.8rem;
      background-image: url("../img/icons/FaChevronDown.svg"),
        url("../img/SelectBorder.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: right 0.7rem top 50%, right 2rem top 50%;
      background-size: 0.65rem auto, 1px auto;

      &:hover .properties__checkbox-dropdown {
        display: block;
      }
    }
  }

  &__secondary-filter-container {
    background-color: theme-color("light");

    h1 {
      font-size: 1rem;
      font-family: "Lato", sans-serif;
    }

    ul li {
      display: inline-block;
      font-size: 0.875rem;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      div {
        display: inline-block;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        span {
          position: relative;
          top: -2px;
          margin-right: 5px;
        }
      }

      select {
        background-color: theme-color("light");
      }
    }
  }

  &__search-card {
    &-container {
      background-color: theme-color("light");

      ol,
      ul {
        list-style: none;
        padding-left: 0;
      }

      h4 {
        color: theme-color("primary");
        font-weight: bold;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
      }

      h3 {
        font-size: 2.5rem;
      }
    }

    &-list-item {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &-rooms {
      li {
        display: inline-block;
        margin-right: 25px;
        font-weight: bold;

        &:last-of-type {
          margin-right: 0;
        }

        img {
          height: 20px;
          max-height: 20px;
          margin-right: 10px;
        }
      }
    }

    &-features {
      p {
        width: 50%;
        background-repeat: no-repeat;
        padding-left: 35px;
        padding-right: 10px;
        background-position-y: 2px;
        background-image: url("../img/icons/FaChevronRight.svg");
        background-position: 11px 4px;
        background-size: 15px;
      }
    }

    &-bullets {
      position: relative;
      top: -2px;
      margin-right: 5px;
      color: theme-color("primary");
    }

    &-added-on {
      font-size: 0.825rem;
      color: theme-color("medium");
    }

    &-details {
      position: relative;
      overflow: hidden;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }

    &-stc-label {
      position: absolute;
      right: -55px;
      padding: 0.5rem;
      background-color: theme-color("secondary");
      color: #fff;
      top: 25px;
      transform: rotate(45deg);
      width: 200px;
      text-align: center;
    }

    &-gallery {
      position: relative;
    }

    &-gallery-icons {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      border-radius: 2px;
      padding: 6px 8px;
      background-color: theme-color("dark");
      opacity: 0.8;

      a {
        color: theme-color("white");
        text-decoration: none;
      }

      img {
        height: 18px;
        margin-right: 6px;
        margin-top: -3px;
      }
    }
  }
}
