.search-hero {
  &__container {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQElzTUwMT1GpA/company-background_10000/0?e=2159024400&v=beta&t=bTf4CKG_-1USfRAvQw_FdBHoqemZyscxAluXGtcaWak");
    background-position: top;
    background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
    @include respond-to("md") {
      height: calc(100vh - 64px);
    }
  }

  &__search {
    background: rgba(51, 51, 51, 0.55);
  }

  &__gradient {
    width: 100%;
    height: 5%;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 1),
      rgba(0, 0, 0, 0)
    );
  }

  &__heading {
    @include respond-to("md") {
      font-size: 60px;
    }
  }

  &__location-dropdown {
    display: none;
    position: absolute;
    background-color: theme-color("white");
    min-width: 160px;
    padding: 12px 16px;
  }

  &__status-dropdown {
    display: none;
    position: absolute;
    background-color: theme-color("white");
    min-width: 160px;
    padding: 12px 16px;
  }

  &__dropdown {
    background-color: theme-color("white");

    &:hover .search-hero__status-dropdown {
      display: block;
    }

    &:hover .search-hero__location-dropdown {
      display: block;
    }
	}
	
	&__dropdown-chevron {
		border-left: 1px solid #999;
	}

  &__menu {
    list-style: none;
    @include respond-to("md") {
      font-size: 24px;
    }
  }

  &__menu-item {
    @include menu-item-hover(2px, 'white');
  }
}
